/* common css start */
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    font-family: 'PT Sans', sans-serif;
}
.container{
    width:1110px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* common css end */
/* nav css start */
#header{
    margin-bottom: 82px;
}
#header nav .row{
    justify-content: space-between;
    align-items: center;
}
#header nav  ul li a{
    display: inline-block;
    color:#353535;
    padding: 5px 26px;
    line-height: 2;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}
#header nav  ul li a::after{
    position: absolute;
    content: "";
    width:0%;
    height:1px;
    background-color: #353535;
    bottom:0;
    left: 0;
    transition: 0.7s;
}
#header nav ul li a:hover::after {
    width: 100%;
    right: 0;
    left: auto;
}
/* nav css end */
/* banner css start */
#banner{
    background-image: url(./../image/banner_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height:623px;
}
#banner .greeting_section{
    margin-bottom: 15px;
}
#banner .greeting_section h3{
    padding-right: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#banner .banner_info h1{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 25px;
}
#banner .banner_info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 77px;
}
#banner .banner_info #btn{
    padding: 16px 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#FFFFFF;
    background-color: #FFCC00;
    border-radius: 20px;
    margin-bottom: 66px;
    transition: 0.7s;
}
#banner .banner_info #btn:hover{
    box-shadow: 5px 5px 10px #F0A70A;
    cursor: pointer;
}
#banner .banner_info button{
    padding: 16px 18px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 40px;
    background-color: #FFF;
    margin-bottom: 66px;
    transition: 0.7s;
}
#banner .banner_info button:hover{
    box-shadow: 5px 5px 10px #CCCCFF;
    cursor: pointer;
}
#banner .banner_info ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding: 0 8px 0 32px;
    transition: 0.7s;
}
#banner .banner_info ul li a{
    display: inline-block;
    color:#000000;
    width:40px;
    height:40px;
    border-radius: 50%;
    border: 0;
    background-color: #F4F3F3;
    text-align: center;
    line-height: 40px;
}
#banner .banner_info ul li:hover{
    transform: scale(1.2);
}
#banner .banner_info ul li a:hover{
    background-color: #F0A70A;
}
/* banner css end */
/* about section css start */
/* about section css end */

/* footer section css start */
#footer {
    background: #575757 url("./../image/footer_bg.svg");
    background-size: cover;
    background-position: center;
    margin: 152px 0 20px;
}
#footer .footer_widget {
    width: calc(100% / 3);
}
#footer .widget-1{
    padding: 71px 0 182px;
}
#footer .widget-2 h2{
    padding:70px 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#FFF;
}
#footer .widget-2 p{
    font-size: 16px;
    font-weight: 400;
    color:#BBB9B9;
    line-height: 180%;
}
#footer .widget-3{
    text-align: right;
    margin: 114px 0 139px;
}
#footer .widget-3 a {
    padding: 16px 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#FFFFFF;
    background-color: #FFCC00;
    border-radius: 20px;
    margin-bottom: 66px;
    transition: 0.7s;
}
#footer .widget-4 h6{
    font-size: 18px;
    color:#BBB9B9;
    font-weight: 400;
    padding-bottom: 4px;
}
#footer .widget-4 a{
    color:#fff;
    font-size: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: 500;
    line-height: 180%;
    padding-bottom: 85px;
}
#footer .widget-5 h6{
    font-size: 18px;
    color:#BBB9B9;
    font-weight: 400;
    padding-bottom: 4px;
}
#footer .widget-5 a{
    color:#fff;
    font-size: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: 500;
    line-height: 180%;
    padding-bottom: 85px;
}
#footer .widget-6 .row {
    justify-content: flex-end;
    margin-bottom: 116px;
}
#footer .widget-6 ul li:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 24px 0 10px;
    line-height: 180%;
    color:#FFFFFF;
}
 #footer .widget-6 ul li a{
    margin: 5px;
    font-size: 18px;
    display:inline-block;
    color:#FFFFFF;
    width: 48px;
    height:48px;
    border-radius: 50%;
    border: 0;
    background-color: #484848;
    text-align: center;
    line-height: 48px;
} 
/* footer section css end */